.language-selector {
  display: flex;

  &__toggle {
    
    span {
      text-transform: uppercase;
      font-size: 1.6rem;
      letter-spacing: .5px;
    }

  }

  &__list {
    margin: 0;
  }

  &__item {
    font-size: 1.4rem;
    display: flex !important;
    align-items: center;
  }

  &__image {
    min-width: 2.7rem;
    width: 2.7rem;
    margin-right: 1.5rem;
  }
}