.language-selector {
  display: flex;

  &__toggle {
    
    span {
      text-transform: uppercase;
      font-size: 1.6rem;
      letter-spacing: .5px;
    }

  }

}

.language-selector__dropdown {

  &-item {
    font-size: 1.4rem;
    display: flex !important;
    align-items: center;
  }
  
  &-image {
    min-width: 2.7rem;
    width: 2.7rem;
    margin-right: 1.5rem;
  }
}
