@mixin language-selector-theme($theme) {

  @each $theme, $value in $themes {
      $background: map-get($value, background );
      $primary: map-get($value, primary );
      $text-base: map-get($value, text-base);
      $text-primary: map-get($value, text-primary);
      $text-secondary: map-get($value, text-secondary );
      $accent: map-get($value, accent);
      $icon-primary: map-get($value, icon-primary);
      $icon-secondary: map-get($value, icon-secondary);
      $border-color-primary: map-get($value, border-color-primary);

      .#{$theme} {

          
      }
       
  }
  
}