.dashboard__container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;

  .dashboard__inner {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    .dashboard__body {
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }
}