.user-profile {
  display: flex;

  &__toggle {

    img {
      border-radius: 50%;
    }
  }  
}

.user-profile__dropdown {

  &-header {
    font-size: 1.4rem;
    padding: 1.6rem;
    border-bottom: 1px solid;
  
    span {
      display: block;
    }
  
    .email {
      font-size: 1.3rem;
      font-weight: 500;
    }
  }
  
  &-item {
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 1.4rem;
    border: none;
    outline: none;
    background: transparent;
    padding: 1rem 1.6rem;
    
    mat-icon {
      margin-right: 1rem;
    }
  }

  &-body {
    padding: 1rem 0;
    border-bottom: 1px solid;
   
  }
  
  &-footer {
    padding: 1rem 0;
  }
}



