<header class="header">
  <div class="header__inner">
    <button mat-icon-button class="header__toggle-sidebar">
      <span class="material-icons">
        menu
      </span>
    </button>
    <a class="header__logo">
      <img src="assets/images/logo/logo.png" alt="logo" width="30" height="30">
      <span>NGULAR</span>
    </a>
    <div class="header__right">
      <search></search>
      <language-selector></language-selector>
      <notifications></notifications>
      <user-profile></user-profile>
    </div>
  </div>
</header>