.dashboard__container {
  
  app-header {
    flex-shrink: 0;
  }

  header {
    height: 6.4rem;
    display: flex;
    background-color: #1976d2;
    color: #fff;

    .header__inner {
      flex-grow: 1;
      display: flex;

      .header__toggle-sidebar {
        background-color: transparent;
        border-radius: 0;
        color: #fff
      }

      .header__logo {
        display: flex;
        align-items: center;

        span {
          font-size: 2rem;
          letter-spacing: .3px;
        }
      }
    }
  }
}