.dashboard__container {
  
  app-header {
    flex-shrink: 0;
  }

  .header {
    height: 5.6rem;
    display: flex;
    border-bottom: 1px solid;

    &__inner {
      flex-grow: 1;
      display: flex;
      padding: 0 1.6rem;

      .header__toggle-sidebar {
        background-color: transparent;
        align-self: center;
        margin-right: 1.6rem;
      }

      .header__logo {
        display: flex;
        align-items: center;

        span {
          font-size: 1.6rem;
          letter-spacing: .5px;
          font-weight: 600;
        }
      }
    }

    &__right {
      margin-left: auto;
      display: flex;
    }

    &__toggle-dropdown {
      background: transparent;
      border-radius: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 5.6rem;
    }
  }
}