.notifications {
  display: flex;


  &__dropdown {
    min-width: 36rem!important;
    max-width: 36rem!important;
    border-radius: 4px;
    max-height: calc(100vh - 80px);
    overflow-y: hidden;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
    display: flex;
    flex-direction: column;

    
    .time {
      font-size: 1.3rem;
    }

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1.2rem;
      font-weight: 500;
      padding: 1.6rem;
      border-bottom: 1px solid;

      > span {
        text-transform: uppercase;
        letter-spacing: .3px;
      }

      .mark-as-read {
        font-size: 1.3rem;
        cursor: pointer;
      }
    }

  }

  &__body {
    flex-grow: 1;
    overflow: auto;
  }

  &__list {
    margin: 0;
  }

  &__item {
    cursor: pointer;
    padding: 1.4rem 1.6rem;
    border-bottom: 1px solid; 


    &:last-child {
      border-bottom: none;
    }

    > a {
      display: flex;
    }
  }

  &__item-image {
    margin-right: 1.6rem;

    img {
      min-width: 3.2rem;
      width: 3.2rem;
      min-height: 3.2rem;
      height: 3.2rem;
      border-radius: 50%;
    }
  }

  &__item-content {
    font-size: 1.4rem;
  }
   
  &__footer {
    font-weight: 500;
    padding: 1rem 1.6rem;
    font-size: 1.3rem;
    text-align: center;
    border-top: 1px solid;

    .view-all {
      cursor: pointer;
    }
  }
}