.notifications-container {
  display: flex;
}

.notifications {
  min-width: 36rem!important;
  max-width: 36rem!important;
  border-radius: 4px;
  max-height: calc(100vh - 120px);
  overflow-y: hidden;
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    letter-spacing: .3px;
    padding: 1.6rem;
    border-bottom: 1px solid;

    > span {
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    .mark-as-read {
      font-size: 1.3rem;
      cursor: pointer;
    }
  }

  &__body {
    flex-grow: 1;
    overflow: auto;
  }

  &__item {
    display: block;
    cursor: pointer;
    padding: 1.6rem 3rem 1.6rem 1.6rem;
    border-bottom: 1px solid;
    line-height: 1.6;
    position: relative;

    &:hover {

      .notifications__item-controls {
        
        .remove, .status .hasRead {
          opacity: 1 !important;
          visibility: visible !important;
        }
        
      }
    }

    &:last-child {
      border-bottom: none;
    }

    > a {
      display: flex;
    }

    .author {
      font-weight: 600;
    }

    .time {
      margin-top: .5rem;
      font-size: 1.3rem;
    }

    &-image {
      margin-right: 1.6rem;
  
      img {
        min-width: 3.2rem;
        width: 3.2rem;
        min-height: 3.2rem;
        height: 3.2rem;
        border-radius: 50%;
      }
    }
  
    &-content {
      font-size: 1.4rem;
    }

    &-controls {
      position: absolute;
      top: 2.1rem;
      right: 1rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      
      
      .status {
        margin-bottom: .3rem ;

        .hasRead {
          opacity: 0;
          visibility: hidden;
        }
        mat-icon {
          font-size: 1.2rem;
          width: 1.6rem;
          height: 1.6rem;
          display: flex;
          justify-content: center;
        }
      }

      .remove {
        opacity: 0;
        visibility: hidden;

        mat-icon {
          width: 1.6rem;
          height: 1.6rem;
          font-size: 1.6rem;
        }
      }
    }
 
    
  }

  &__footer {
    font-weight: 500;
    padding: 1.6rem;
    font-size: 1.3rem;
    text-align: center;
    border-top: 1px solid;

    .view-all {
      cursor: pointer;
    }
  }
}